/*Regras da gerais section "Sobre mim"*/
/*Formatação da estrutura básica do site*/
.secondpage {
	margin: 0 auto;
	padding: 0;
	list-style: none;
    background-color:rgb(41, 41, 46);
    width: 100%;
    height: 580px;
    text-align: center;
    display: inline-block;
}
#title {
    font-family: 'Krona One', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: yellow;
}
/*Regras do background do parágrafo*/
.paragraphbg {   
	background-color: rgb(235, 235, 235);
	width: 80%;
	/*height: 280px;*/
	display: inline-block;
	border: 2px;
	border-style: hidden;
	border-radius: 20px;
    padding: 40px;
}
/*Regras do primeiro parágrafo*/
.paragraph {
	color: black;
	font-family: 'Jura', sans-serif;
	font-size: 22px;  
	font-weight: bold;
	text-align: left;
}
.curriculo {
	color: dodgerblue;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px; 
	font-weight: bolder;
}
.button {
	font-family: 'Open Sans';
	font-weight: bolder;
	color: white;
	background-color: dodgerblue;
	border-radius: 40px;
	border-style: hidden;
	width: 100px;
	height:50px;
	cursor: pointer;
}
span {
	color: darkblue;
	font-style: oblique;
}